body {
    margin: 0;
    background-color: black;
    color: white;

    font-family: "Funnel Sans", sans-serif;

}

#spiral {
    max-width: 512px;
    padding: 3em 0;
    margin: 1em auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(142, 81, 255);
    border: 2px solid rgb(142, 81, 255);
    font-weight: 600;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
}

#spiral:hover {
    background-color: white;
    border-color: white;
}

#main {
    max-width: 512px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#grid {
    position: fixed;
    width: 100vw;
    height: 100svh;
    background-color: #111;
    z-index: -1;
}

h1 {
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-family: "Funnel Display", sans-serif;
}

@keyframes wave {
    from { background-position: 0 center; }
    to { background-position: 40px center; }
}

.separator {
    width: 100%;
    height: 40px;
    background-image: url("pattern.svg");
    background-size: 40px;
    background-position: center;
    animation: wave 1s linear infinite;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.sub {
    opacity: 0.6;
    font-size: 12pt;
    font-weight: 400;
    text-align: center;
    margin: .5em;
}

.splash-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shuffle_button {
    position: absolute;
    right: 0;
    background: transparent;
    border: none;
    color: inherit;
    opacity: 0.2;
    cursor: pointer;
    transition: opacity 0.2s, transform 0.2s;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#shuffle_button img {
    width: 16px;
    height: 16px;
}

#shuffle_button:hover {
    opacity: 1;
}

#shuffle_button:active {
    transform: translateX(2px);
}

#info {
    font-family: "JetBrains Mono", monospace;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1em;
    margin: 1em 0;
}

#info > div, #info > a {
    padding: .4em;
    border: 2px #ffffff50 solid;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: .3em;
    color: white;
}

#info > #spotify {
    flex-grow: 2;
}

#spotify_cover {
    height: 1.4em;
}

a {
    text-decoration: none;
    color: white;
} 

a[href*="."]:hover {
    text-decoration: underline;
}

#content {
    column-gap: 1em;
    margin-top: .5em;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    #content {
        column-count: 2;
    }
}

@media only screen and (max-width: 600px) {
    #mizu, #me {
        display: none !important;
    }
    #main, #spiral {
        width: 90%;
    }
}

#content > div {
    break-inside: avoid;
    margin-bottom: 1em;
    line-height: 1.4;
}

h2, h3 {
    font-family: "Funnel Display", sans-serif;
    margin: .2em 0;
}

h3 {
    font-weight: 500;
}

.border {
    padding: .4em;
    border: 2px #ffffff50 solid;
    border-radius: 4px;
}

.t2 { translate: 0 2px; }
.t4 { translate: 0 4px; }

#gamerow {
    display: flex; gap: .4em; justify-content: space-around;
}

#gamerow > * {
    border-radius: 2px;
}

#spotify_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    gap: .5em 1em;
    margin-top: .5em;
}

#spotify_list > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
}

#spotify_list > a > img {
    height: 2em;
    border-radius: 4px;
}

#pride {
    display: flex;
    gap: 4px;
}

#pride > * {
    height: 1.3em;
    border-radius: 4px;
    border: 2px #ffffff50 solid;
}

#likes > ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: square;
    gap: .5em;
    list-style-position: inside;
    margin: .5em 0 0 0;
    padding: 0;
    line-height: 1;
    justify-content: center;
}

#likes > ul > li:first-child {
    list-style-type: none;
}

#hrt {
    display: flex;
    background-color: #b45309;
    color: #fde68a;
    
    border: 2px solid transparent;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3cstyle%3e@keyframes a{to{stroke-dashoffset:-11}}rect{animation:a 1s linear infinite}%3c/style%3e%3crect width='100%25' height='100%25' rx='4' ry='4' fill='none' stroke='%23fde68a' stroke-width='4' stroke-dasharray='6,6' stroke-dashoffset='1'/%3e%3c/svg%3e");
    background-origin: border-box;

    padding: .5em;
    font-weight: 900;
    font-family: "JetBrains Mono", monospace;
    border-radius: 4px;
    justify-content: space-around;
}

#socials {
    display: flex; gap: .4em; justify-content: space-around;
}

#socials > a > img {
    height: 1.5em;
}

#socials > a {
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: transform 0.2s, filter 0.2s;
}

#socials > a:hover {
    transform: translateY(1px);
    filter: brightness(1.4);
}

#steam {
    background-color: #000000;
}

#discord {
    background-color: #5865F2;
}

#instagram {
    background: linear-gradient(-15deg, #f9ce34, #ee2a7b, #6228d7);
}

#spotify {
    background-color: #1ED760;
}

#github {
    background-color: #181717;
}

#twitter {
    background-color: #1d9bf0;
}

#twitter > img {
    scale: 0.8;
}

#mizu > img {
    border-radius: 2px;
    display: block;
    aspect-ratio: 7/3;
    width: 100%;
}

#me {
    position: absolute;
    translate: -100% 0;
    margin-left: -1em;
    border: 2px solid #444;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

#me > img {
    border-radius: 2px 2px 0 0;
}

#me > span {
    background-color: #222;
    padding: 0.5em 0;
    text-align: center;
    border-radius: 0 0 2px 2px;
}

#spiral:hover {
    text-decoration: none;
}

#music {
    text-align: end;
}

#likes h3 {
    text-align: center;
}

#spiral > span {
    position: relative;
    z-index: 10;
    background-color: black;
    padding: 1em 1.6em;
    border-radius: 4px;
}